#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a oraganized collection of information/ data stored in a computer system and it usually controlled by a system called "Database management systems"

There are two types of databases of available in the market:

1) Relational database
2) Non-Relational database

**Relational database:** A relational database is a database in which data is organized into tables with predefined rows and columns. An inherent correlation between them characterizes the data points in these tables. For example, a good example of a relational database includes the complete records of the students belonging to a particular class in a school. This inherent correlation makes it increasingly simplistic for data teams to query and easily sort data accordingly.

**Non-relational database:** A non-relational database is a database in which the dats is stored in the form of JSON document (key value pairs) and like a relational database we don't need to provide the schema before using the database.

Types of SQL databases are: (Used to store the information in the tabular format)
1)	MySQL
2)	Oracle
3)	Microsoft SQL server 
4)	PostgreSQL
5)	SQLite 
6)	Maria DB etc.,

Types of NoSQL Databases are:
1)	 MongoDB
2)	Cassandra
3)	Redis
4)	Hbase
5)	Influx
6)	Neo4j etc.,

SQL databases store the information in the form of tables (Relational DB) (like an excel).
NoSQL databases store information in the form of key value pairs.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**DDL:** The abbreviation for DDL is Data Definition Language.

Data Definition Language actually consists of the SQL commands that can be used to define the database schema.

**CREATE:** CREATE command is used to create the table in a SQL database.

ex: CREATE TABLE Pwskills( NAME VARCHAR(20), ROLLNO INTEGER);

**DROP & TRUNCATE:** In SQL, the DROP command is used to remove the whole database or table indexes, data, and more. Whereas the TRUNCATE command is used to remove all the rows from the table.

ex: DROP TABLE table_name;

ex: TRUNCATE TABLE table_name; 

**ALTER:** Alter commmand is used to make the changes to the existing table like modifying the datatypes to the existing columns, renaming the column names, adding columns to the existing table etc.,

ex: ALTER TABLE table_name ADD column_name datatype; --> adding column to the existing table.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**DML:** Abbeviation for the DML is "Data Manipulation Language" and these statements is used to manipulated the data in the existing tables like performing insertion of rows, updating the tuples and deleting the tuples/records

**INSERT:** The INSERT INTO statement is used to insert new records in a table.

ex: INSERT INTO table_name (column1, column2, column3, ...) VALUES (value1, value2, value3, ...);

**UPDATE:** The UPDATE statement is used to modify the existing records in a table.

ex: UPDATE table_name SET column1 = value1, column2 = value2, ...WHERE condition;

**DELETE:** The DELETE statement is used to delete existing records in a table.

ex: DELETE FROM table_name WHERE condition;

#### Q4. What is DQL? Explain SELECT with an example.

**DQL:** Abbreviation for the DQL is "Data Query Language", DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it.

**SELECT:** SELECT statement is used to retrieve the data from the existing table.

ex: SELECT * FROM table_name (* means all columns)

#### Q5. Explain Primary Key and Foreign Key.

Primary and foreign keys are the most basic components on which relational database theory is based. Primary keys enforce entity integrity by uniquely identifying entity instances. Foreign keys enforce referential integrity by completing an association between two entities.

**Features of primary key and foreign key:**

1. **NULL values are not allowed.** If the column(s) contain NULL values, the system will not add the primary key constraint. Foreign key can contain the NULL values.

2. You can define keys which allow duplicate values. However, do not allow duplicates on primary keys as the value of a record's primary key must be unique.

3. **A table can only have one primary key**, but it can have multiple unique constraints. You should explicitly define a table's primary key in the CREATE TABLE statement and **A table can reference a maximum of 253 other tables and columns as foreign keys (outgoing references).**

4. **Duplicate values are not allowed for primary key**. Foreign key can contain the duplicate values

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Kn$9121876724",use_pure=True
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

# execute() is used to execute the sql commands 
# cursor() 
#Allows Python code to execute SQL command in a database session. Cursors are created by the connection.cursor() method: 
# they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database 
# session wrapped by the connection.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of the SQL statements is: F,J,W,G,H,S,D,O,L
    
F - From, J - Join ,W- Where, G- Group by, H - Having , S - Select , D - Distinct, O - Order by, L -  LIMIT/OFFSET